.navbar{
    color: #fff;
  font-size: 78px;
  line-height: 1.4;
  /*position: relative;
  left: 150px;*/
  /*position: absolute;*/
    
    top: 865px;
  opacity: 0;
  position: sticky;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 150px;
}

.sticky + .content {
  padding-top: 60px;
}